@use "sass:color";

$background_primary: #09090B;
$background_surface: #131316;
$border_default: #27272A;
$text_primary: #FAFAFA;
$text_muted: #A1A1AA;
$brand_primary: #CF7230;
$status_success: #22C55E;
$status_error: #EF4444;

@function generate-scale($base-color, $scale: 500) {
  $map: (
    100: scale-color($base-color, $lightness: 80%),
    200: scale-color($base-color, $lightness: 60%),
    300: scale-color($base-color, $lightness: 40%),
    400: scale-color($base-color, $lightness: 20%),
    500: $base-color, // Your original color
    600: scale-color($base-color, $blackness: 20%),
    700: scale-color($base-color, $blackness: 40%),
    800: scale-color($base-color, $blackness: 60%),
    900: scale-color($base-color, $blackness: 80%)
  );

  @return map-get($map, $scale);
}
