@use 'color' as color;
@use 'typography' as typography;

.arca-button {
  text-align: center;
  font-size: typography.$text_size_default;
  font-weight: typography.$text_weight_default;
  line-height: typography.$line_height_default;
  padding: 1rem;
  border-radius: typography.space(1);
  border-color: color.$border_default;
  border-style: outset;
  color: color.$text_primary;
  width: typography.space(10);
}

.primary {
  background-color: color.$brand_primary;

  &:hover {
    background-color: color.generate-scale(color.$brand_primary, 300);
  }
}

.secondary {
  color: color.$brand_primary;
  background-color: inherit;
  border-color: color.generate-scale(color.$brand_primary);

  &:hover {
    background-color: color.generate-scale(color.$brand_primary, 100);
  }
}

.tertiary {
  background-color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: typography.space(0.25);
  text-decoration-style: solid;
  text-decoration-color: color.$brand_primary;
  text-underline-offset: typography.space(0.5);
  border: none;

  &:hover {
    color: color.$brand_primary;
    background-color: color.generate-scale(color.$brand_primary, 100);
    border: inherit;
    text-decoration: none;
  }
}

.confirm {
  background-color: color.$status_success;
}

.delete{
  background-color: color.$status_error;
}
